countrycodes-impl/src/main/xsd/genc-cmn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen SCHSchema="http://api.nsgreg.nga.mil/schema/genc/3.0.0/genc-cmn.sch"?>
<schema xmlns:genc-cmn="http://api.nsgreg.nga.mil/schema/genc/3.0/genc-cmn" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.nsgreg.nga.mil/schema/genc/3.0/genc-cmn" elementFormDefault="qualified" version="3.0.0" xml:lang="en">
    <annotation>
        <documentation>Accompanying specification published at: http://nsgreg.nga.mil/doc/view?i=2379. XML type components shall always be used as specified without further restriction unless documented by, and accomplished using, Schematron assertions.</documentation>
    </annotation>
    <!-- ================================================

                                Components for the GENC Standard

                v3.0.0 revisions:
                    moved GENC/ISO shared complex types from genc.xsd: ISOCountryCodesType, ISOCountrySubdivisionCodesType
                    moved GENC/ISO shared simple types from genc.xsd: AlphaNumeric3Type, AlphaNumeric2Type, Numeric3DigitType, AlphaNumeric6Type
                    moved usRecognitionCode to genc.xsd
                    revised documentation throughout

                v2.0.0 revisions
                    revised CodeWithCodeSpace pattern constraints

                v1.2.0 revisions
                    revised domain of USRecognitionCode

    ===================================================-->
    <!--============== Code with Codespace  ================-->
    <complexType name="CodeWithCodeSpace">
        <annotation>
            <documentation>
                A type establishing a unique identity determined by the combination of a codespace and a code. The codespace identifies which set of GENC Standard "country code" information is intended, and the code identifies which member of that set is intended.</documentation>
        </annotation>
        <simpleContent>
            <extension base="genc-cmn:AlphaNumericDash6Type">
                <annotation>
                    <documentation>
                        A unique designation of a concept from a set established by a codespace. EXAMPLE: The 2-character code 'US' as a means of designating the concept named "United States of America".</documentation>
                </annotation>
                <attribute name="codeSpace" use="required">
                    <annotation>
                        <documentation>
                            A universally unique identifier establishing a scope within which a code uniquely designates a concept.</documentation>
                    </annotation>
                    <simpleType>
                        <restriction base="anyURI">
                            <pattern value="http://api.nsgreg.nga.mil/geo\-political/[01234569ACEFGINOPST\-]{3,10}[/]{1}[2346n]{1}[/]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="http://api.nsgreg.nga.mil/geo\-division/[01234569ACEFGINOPST\-]{3,10}[/]{1}[2346n]{1}[/]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="http://api.nsgreg.nga.mil/geo\-correlate/[01234569ACEFGINOPST\-]{3,10}[/]{1}[2346n]{1}[/]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="urn:us:gov:dod:nga:def:geo\-political:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="urn:us:gov:dod:nga:def:geo\-division:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="urn:us:gov:dod:nga:def:geo\-correlate:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="geo\-political:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="geo\-division:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="geo\-correlate:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="ge:[012459CEFGINOS\-]{3,4}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="as:[012459CEFGINOS\-]{3,4}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                            <pattern value="gc:[012459CEFGINOS\-]{3,4}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                        </restriction>
                    </simpleType>
                </attribute>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="AlphaNumericDash6Type">
        <annotation>
            <documentation>
                A type establishing a limited domain for the values of codes used in the GENC Standard to identify geopolitical entities and administrative subdivisions.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{1,1}[A-Z1-9]{2,2}"/>
            <pattern value="[A-Z]{1,1}[A-Z1-9]{1,1}"/>
            <pattern value="[A-Z]{2,2}[A-Z0-9]{1,1}[0-9]{1,1}"/>
            <pattern value="[A-Z]{1,1}[A-Z1-9]{1,1}[-][A-Z0-9]{1,3}"/>
            <pattern value="[0-9]{3,6}"/>
        </restriction>
    </simpleType>
    <!--=================== URIs  =====================-->
    <complexType name="URISetType">
        <annotation>
            <documentation>
                The set of Uniform Resource Identifiers (URI) that are used to designate a country (geopolitical entity) or country division (administrative subdivision) codespace for use in information exchange.</documentation>
        </annotation>
        <sequence>
            <element name="codespaceURL">
                <annotation>
                    <documentation>
                        The URL-based codespace designation for codes used to designate an item in a "country code" standard. NOTE: A Uniform Resource Locator (URL) specifies the syntax and semantics of formalized information for location and access of a resource via the Internet. [ITEF RFC1738]</documentation>
                </annotation>
                <simpleType>
                    <restriction base="anyURI">
                        <pattern value="http://api.nsgreg.nga.mil/geo\-political/[01234569ACEFGINOPST\-]{3,10}[/]{1}[2346n]{1}[/]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="http://api.nsgreg.nga.mil/geo\-division/[01234569ACEFGINOPST\-]{3,10}[/]{1}[2346n]{1}[/]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="http://api.nsgreg.nga.mil/geo\-correlate/[01234569ACEFGINOPST\-]{3,10}[/]{1}[2346n]{1}[/]{1}[a-zA-Z0-9\-]{2,6}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="codespaceURN">
                <annotation>
                    <documentation>
                        The URN-based codespace designation for codes used to designate an item in a "country code" standard. NOTE: A Uniform Resource Name (URN) is a persistent, location-independent, resource identifier. [IETF RFC 2141]</documentation>
                </annotation>
                <simpleType>
                    <restriction base="anyURI">
                        <pattern value="urn:us:gov:dod:nga:def:geo\-political:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="urn:us:gov:dod:nga:def:geo\-division:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="urn:us:gov:dod:nga:def:geo\-correlate:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="codespaceURNBased">
                <annotation>
                    <documentation>
                        The unique resource-specific-string ("stem") component of the URN-based codespace designation for codes used to designate an item in a "country code" standard. NOTE: The scope of uniqueness is limited to the GENC Registry.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="anyURI">
                        <pattern value="geo\-political:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="geo\-division:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="geo\-correlate:[01234569ACEFGINOPST\-]{3,10}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="codespaceURNBasedShort">
                <annotation>
                    <documentation>
                        The unique compressed resource-specific-string ("stem") component of the URN-based codespace designation for codes used to designate an item in a "country code" standard. NOTE: The scope of uniqueness is limited to the GENC Registry.</documentation>
                </annotation>
                <simpleType>
                    <restriction base="anyURI">
                        <pattern value="ge:[012459CEFGINOS\-]{3,4}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="as:[012459CEFGINOS\-]{3,4}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                        <pattern value="gc:[012459CEFGINOS\-]{3,4}[:]{1}[2346n]{1}[:]{1}[a-zA-Z0-9\-]{2,6}"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <!--====== Complex Types for shared GENC/ISO Codespaces and Codes ========-->
    <complexType name="ISOCountryCodesType">
        <annotation>
            <documentation>
                The codespace identifiers and code (ISO 3166: code element) values that are used to designate the names of an ISO3166-1 country or GENC Standard geopolitical entity.</documentation>
        </annotation>
        <sequence>
            <element name="char3Code" type="genc-cmn:AlphaNumeric3Type">
                <annotation>
                    <documentation>
                        The alphanumeric 3-character code that is used to designate the names of an ISO3166-1 country or GENC Standard geopolitical entity.</documentation>
                </annotation>
            </element>
            <element name="char3CodeURISet" type="genc-cmn:URISetType">
                <annotation>
                    <documentation>
                        The set of URI-based codespace designations for the alphanumeric 3-character code that is used to designate the names of an ISO3166-1 country or GENC Standard geopolitical entity.</documentation>
                </annotation>
            </element>
            <element name="char2Code" type="genc-cmn:AlphaNumeric2Type" minOccurs="0">
                <annotation>
                    <documentation>
                        The alphanumeric 2-character code that is used to designate the names of an ISO3166-1 country or GENC Standard geopolitical entity.</documentation>
                </annotation>
            </element>
            <!-- char2CodeURISet: required if char2Code is populated -->
            <element name="char2CodeURISet" type="genc-cmn:URISetType" minOccurs="0">
                <annotation>
                    <documentation>
                        The set of URI-based codespace designations for the alphanumeric 2-character code that is used to designate the names of an ISO3166-1 country or GENC Standard geopolitical entity.</documentation>
                </annotation>
            </element>
            <element name="numericCode" type="genc-cmn:Numeric3DigitType" minOccurs="0">
                <annotation>
                    <documentation>
                        The 3-digit numeric code that is used to designate the names of an ISO3166-1 country or GENC Standard geopolitical entity.</documentation>
                </annotation>
            </element>
            <!-- numericCodeURISet: required if numericCode is populated -->
            <element name="numericCodeURISet" type="genc-cmn:URISetType" minOccurs="0">
                <annotation>
                    <documentation>
                        The set of URI-based codespace designations for the 3-digit numeric code that is used to designate the names of an ISO3166-1 country or GENC Standard geopolitical entity.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <complexType name="ISOCountrySubdivisionCodesType">
        <annotation>
            <documentation>
                The codespace identifiers and code (ISO 3166: code element) values that are used to designate the names of an ISO3166-2 country subdivision or GENC Standard administrative subdivision.</documentation>
        </annotation>
        <sequence>
            <element name="char6Code" type="genc-cmn:AlphaNumeric6Type">
                <annotation>
                    <documentation>
                        The alphanumeric 4-, 5-, or 6-character code that is used to designate the names of an ISO3166-2 country subdivision or GENC Standard administrative subdivision.</documentation>
                </annotation>
            </element>
            <element name="char6CodeURISet" type="genc-cmn:URISetType">
                <annotation>
                    <documentation>
                        The set of URI-based codespace designations for the alphanumeric 4-, 5-, or 6-character code that is used to designate the names of an ISO3166-2 country subdivision or GENC Standard administrative subdivision.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <!--====== Types for Restricted Strings and Codes ========-->
    <simpleType name="iso6391char2CodeType">
        <annotation>
            <documentation>
                An alpha-2 ISO 639-1 language code.ISO 639-1 was devised primarily for use in terminology, lexicography, and linguistics. The pseudo-code '--' is allowed in order to indicate that no value has been specified.</documentation>
        </annotation>
        <restriction base="string">
            <length value="2"/>
            <pattern value="[\-]{2}|[a-z]{2,2}"/>
        </restriction>
    </simpleType>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <simpleType name="iso6392char3CodeType">
        <annotation>
            <documentation>
                An alpha-3 ISO 639-2 terminological code. ISO 639-2 was devised primarily for use in terminology and bibliography; it represents all languages contained in ISO 639-1, and in addition other languages and language collections of interest for those primary applications. The pseudo-code '---' is allowed in order to indicate that no value has been specified.</documentation>
        </annotation>
        <restriction base="string">
            <length value="3"/>
            <pattern value="[\-]{3}|[a-z]{3,3}"/>
        </restriction>
    </simpleType>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <simpleType name="iso6393char3CodeType">
        <annotation>
            <documentation>
                An alpha-3 ISO 639-3 code. ISO 639-3 was devised to provide a comprehensive set of identifiers for all languages for use in a wide range of applications, including linguistics, lexicography, and internationalization of information systems. It attempts to represent all known languages. The pseudo-code '---' is allowed in order to indicate that no value has been specified.</documentation>
        </annotation>
        <restriction base="string">
            <length value="3"/>
            <pattern value="[\-]{3}|[a-z]{3,3}"/>
        </restriction>
    </simpleType>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <simpleType name="EntryTypeCode">
        <annotation>
            <documentation>
                The type of change to an item in a standard that is recorded by an entry (an individual information record managed within a standard).</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="unchanged">
                <annotation>
                    <documentation>
                        The entry is unchanged from the prior entry for the same item in the standard.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="creation">
                <annotation>
                    <documentation>
                        The entry establishes the initial information regarding an item in a standard.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="revision">
                <annotation>
                    <documentation>
                        The entry revises information regarding an item in a standard.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="withdrawal">
                <annotation>
                    <documentation>
                        The entry regarding an item in a standard is no longer maintained as the standard has been withdrawn from use.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="deletion">
                <annotation>
                    <documentation>
                        The entry deletes all information regarding an item in a standard.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <!--====== Types for Restricted Strings and Codes ========-->
    <simpleType name="AlphaNumeric3Type">
        <annotation>
            <documentation>
                A type establishing a limited 3-character alphanumeric domain for the values of codes used in the GENC Standard and ISO 3166-1 to identify geopolitical entities (countries).</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{1,1}[A-Z1-9]{2,2}"/>
        </restriction>
    </simpleType>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <simpleType name="AlphaNumeric2Type">
        <annotation>
            <documentation>
                A type establishing a limited 2-character alphanumeric domain for the values of codes used in the GENC Standard and ISO 3166-1 to identify geopolitical entities (countries).</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{1,1}[A-Z1-9]{1,1}"/>
        </restriction>
    </simpleType>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <simpleType name="Numeric3DigitType">
        <annotation>
            <documentation>
                A type establishing a limited 3-digit numeric domain for the values of codes used in the GENC Standard and ISO 3166-1 to identify geopolitical entities (countries).</documentation>
        </annotation>
        <restriction base="integer">
            <minInclusive value="001"/>
            <maxInclusive value="999"/>
            <pattern value="[0-9]{3,3}"/>
        </restriction>
    </simpleType>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <simpleType name="AlphaNumeric6Type">
        <annotation>
            <documentation>
                A type establishing a limited domain for the values of codes used in the GENC Standard and ISO 3166-2 to identify administrative subdivisions.</documentation>
        </annotation>
        <restriction base="string">
            <pattern value="[A-Z]{1,1}[A-Z1-9]{1,1}[-][A-Z0-9]{1,3}"/>
        </restriction>
    </simpleType>
</schema>
